/* Setup Scrolling */
@import url(red-hat-display.css);
html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  color: whitesmoke;
  font-family: "RedHatDisplay-ExtraBold";
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

p{
  width:600px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .5em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: medium;
}

ul{
  width: 500px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .5em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: medium;
}

h1{
  width: 240px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .2em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: x-large;
}

h2{
  width: 95px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .2em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: medium;
}

h3{
  width: 117px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .2em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: medium;
}

h4{
  width: 225px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .2em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: x-large;
}

h5{
  width: 125px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .2em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: x-large;
}

h6{
  width: 125px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .2em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: x-large;
}

h7{
  width: 375px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .2em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: x-large;
}

h8{
  width: 100px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .2em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: x-large;
}

h9{
  width: 120px;
  display: flex;
  flex-direction: column;
  background: black;
  opacity: 80%;
  padding: .2em;
  border-radius: 10px;
  box-shadow: var(--shadow-4);
  font-size: x-large;
}

/* Panel Defaults */
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: right;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  padding: 3em;
}

/* Container for Background Images  */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.one {
  background-image: url("https://images.unsplash.com/photo-1622297118224-2a816821a174?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.two {
  background-image: url("https://images.unsplash.com/photo-1542291483-324c40fe398a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.three {
  background-image: url("https://images.unsplash.com/photo-1533158307587-828f0a76ef46?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.four {
  background-image: url("https://images.unsplash.com/photo-1617618481973-627fd1288a7d?q=80&w=3025&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.five {
  background-image: url("https://images.unsplash.com/photo-1649110458068-fc092543c056?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.six {
  background-image: url("https://images.unsplash.com/photo-1576811340410-7e2b5c5ef305?q=80&w=2900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.seven {
  background-image: url("https://images.unsplash.com/photo-1618805230308-9bff08f43ead?q=80&w=2885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dg");
}